.storyPage{
    display: flex;
    flex-direction: column;

    height: 100%;

    background: whitesmoke;

    align-content: center;
    align-items: center;
}

.storyPage .button{
    justify-content: center;

    align-content: flex-end;
    align-items: flex-end;

    margin-right: auto;
    margin-left: auto;

    margin: 20px;
}

.storyPage .image{
    width: 550px;
    height: auto;

    margin: 20px;
}