.titleView{
    width: 450px;
    height: 30px;
    margin-top: 16px;
    flex-grow: 1;

    border-radius: 20px;
    padding: 16px;

    text-align: center;

    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    font-size: 20px;
    color: black;

    border: none;
    outline: none;
    appearance: none;
    background: whitesmoke;
    
}

@media (max-width: 800px){
    .titleView{
        width: 80%;
    }
}